$color-peach: #FFF7EB;
$color-white: #FFF;
$color-gray-100: #DBDBDB;
$color-gray-200: #EDEDED;
$color-gray-300: #CCC;
$color-gray-400: #6b6b6b;
$color-gray-500: #f5f5f5;
$color-gray-600: #e8e8e8;
$color-black: #0F0F0F;
$color-green: #337566;
$color-red: #BD3223;