/* Указываем box sizing для всего */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

/* Псевдоэлемент в инпуте IE для очистки текста. Убираем его */

::-ms-clear {
  display: none;
}

body {
  margin: 0;
  line-height: 1;
  text-rendering: optimizelegibility; /* определяет как браузеру оптимизировать рендеринг текста */
  text-decoration-skip: objects; /* делает подчеркивание с помощью text-decoration: underline; необрывистым */ /* запретить корректировку размера шрифта после изменения ориентации в iOS */
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; /* делает текст более тонким в Сафари на Маках */
  -webkit-tap-highlight-color: transparent; /* убирает синее подсвечивание при клике на девайсах */
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Изображения */
img {
  display: block;
  border: 0;
}

/* Скрытие элементов */

[hidden] {
  display: none;
}

/* Правильный курсор при отключенном элементе. Так как задизейбленной кнопкой может быть ссылка, то псевдокласс уже не сработает, 
так как ссылка не элемент формы. Для этого добавляйте класс. */

:disabled,
.disabled {
  cursor: not-allowed;
}

/* Очистка потока при использовании float */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Формы */

button,
input,
select,
textarea {
  margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Работа с текстом */
p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

audio,
video {
  display: block;
}

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: inherit;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* SVG */

svg:not(:root) {
  overflow: hidden;
}