@import '../base/_colors';

// FONT
$font-size-xxs: 11px;
$font-size-xs: 13px;
$font-size-sm: 15px;
$font-size-md: 17px;
$font-size-lg: 24px;
$font-size-lg-min: 20px;
$font-weight-thin: 100;
$font-weight-extraLight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;
$font-weight-black: 900;
$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Noto Serif', sans-serif;